/* remove default margin and padding from body */
body {
    padding: 0;
    margin: 0;
    background-color: rgb(107, 192, 248);

  }

  .header {
    height: 200px;
    padding-top: 20px;
    background: #bd2020a4;
  }
  
  
  /* set map, body, and html to 100% of the screen size */
  #map{
    height: 1000px;
    width: 1050px;
    margin-left: 200px;

  }
  body,
  html {
    height: 100%;
  }
  
  
  .legend {
    line-height: 25px;
    color: rgb(253, 250, 250);
    padding: 8px 12px;
    background: rgb(10, 10, 10);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
  }
  .legend i {
    width: 22px;
    height: 22px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
  }

  #plot4{
    margin-left: 200px;
  }

  #scatter-plot{
    margin-left: 100px;
  }

  #bar-plot5{
    margin-left: 100px;
  }