/* remove default margin and padding from body */
h1 {
  /* Put a 15-pixel margin at the bottom of the heading. */
  margin-bottom: 5px;
  /* Change the size of your font to 60 pixels high. */
  font-size: 60px;
  /* This will color the heading font white. */
  color: rgb(48, 223, 223);
  /* Align the text to the center of its enclosing element (e.g. div). */
  text-align: center;
}
img {
  /* 
    Center a block element in the middle of its enclosing tag.
    When you use the "auto" rule on both left and right margins, 
    your browser will do the math necessary to center a block element.
    */
  margin-left: auto;
  margin-right: auto;
  /* Block display (more on this later) */
  display: block;
}

  
  /* set map, body, and html to 100% of the screen size */
  #map{
    height: 1000px;
    width: 1000px;
    margin-left:10px;

  }
  body,
  html {
    height: 100%;
  }
  
  
  .legend {
    line-height: 25px;
    color: rgb(253, 250, 250);
    padding: 8px 12px;
    background: rgb(10, 10, 10);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
  }
  .legend i {
    width: 22px;
    height: 22px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
  }
    /* plot placement  */

  #plot1{
    margin-left: 100px;
  }
  #plot2{
    margin-left: 100px;
  }
  #plot3{
    margin-left: 100px;
  }
  #plot4{
    margin-left: 100px;
  }
  #scatter-plot{
    margin-left: 100px;
  }
  #bar-plot5{
    margin-left: 100px;
  }
  

